$base-color: #5d6056;
$active-color: #818A68;
$list-bg-color: #f3f4f0;

$include-default-icons: false;

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-sheet;
@include sencha-buttons;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@import 'touch-charts/default/all';



@include pictos-iconmask('info');

.grid {
  .date {
    font-weight:bold; width:50%; display:inline-block
  }
  .value {
    font-family:monospace
  }
}

.x-button {
  margin:10px;
}

a {
  color:#fff!important;
}

div {
  font-family: 'Maven Pro', cursive;
  font-weight:normal!important;
}